@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans Variable", sans-serif;
  --color-red-*: initial;
  --color-red-500: hsl(1, 90%, 64%);
  --color-blue-*: initial;
  --color-blue-100: hsl(211, 68%, 94%);
  --color-blue-950: hsl(219, 85%, 26%);
  --color-navy-*: initial;
  --color-navy-50: hsl(210, 60%, 98%);
  --color-navy-100: hsl(205, 33%, 90%);
  --color-navy-950: hsl(224, 21%, 14%);
  --color-gray-*: initial;
  --color-gray-500: hsl(219, 14%, 63%);
  --color-gray-600: hsl(219, 22%, 42%);
}
