-
  const stats = [
    { num: "10k+", title: "COMPANIES" },
    { num: "314", title: "TEMPLATES" },
    { num: "12M+", title: "QUERIES" }
  ];

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(
      rel="icon",
      type="image/png",
      sizes="32x32",
      href=require("./assets/images/favicon-32x32.png")
    )
    title Frontend Mentor | Stats preview card component
  body
    main.container
      article.card
        .card-img
        .card-body
          h1.card-title Get #[span.text-highlight insights] that help your business grow.
          p.
            Discover the benefits of data analytics and make better decisions regarding revenue, customer experience, and overall efficiency.

          .stats
            each item in stats
              .stats-item.
                #[span.stats-item-number= item.num]
                #[span.stats-item-title= item.title]

    footer.attribution.
      Challenge by #[a(href="https://www.frontendmentor.io?ref=challenge", target="_blank", rel="noopener noreferrer") Frontend Mentor]. Coded by #[a(href="https://www.frontendmentor.io/profile/mupinnn", target="_blank", rel="noopener noreferrer") @mupinnn]
