// Colors
$clr-pale-blue: hsl(225, 100%, 94%);
$clr-bright-blue: hsl(245, 75%, 52%);
$clr-very-pale-blue: hsl(225, 100%, 98%);
$clr-desaturated-blue: hsl(224, 23%, 55%);
$clr-dark-blue: hsl(223, 47%, 23%);

// Fonts
$font-family-redhat-display: 'Red Hat Display', sans-serif;
$font-med: 500;
$font-bold: 700;
$font-black: 900;
