doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Slices by @mupinnn
    style.
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      body {
        margin: 0;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Arial", sans-serif;
      }

      main {
        text-align: center;
      }

      main h1 {
        font-size: 1.3rem;
      }

      main p {
        margin: 0;
        font-size: 4rem;
      }
  body
    main
      h1 🚨 UNDER CONSTRUCTION 🚨
      p 🚧
