@import "tailwindcss";

@theme {
  --font-sans: "Overpass Variable", sans-serif;
  --color-orange-*: initial;
  --color-orange: hsl(25, 97%, 53%);
  --color-gray-*: initial;
  --color-gray-500: hsl(217, 12%, 63%);
  --color-gray-900: hsl(213, 19%, 18%);
  --color-gray-950: hsl(216, 12%, 8%);
}
