@import "tailwindcss";

@theme {
  --font-sans: "Red Hat Display Variable", sans-serif;
  --color-blue-*: initial;
  --color-blue-100: hsl(225, 100%, 94%);
  --color-blue-700: hsl(245, 75%, 52%);
  --color-blue-50: hsl(225, 100%, 98%);
  --color-blue-950: hsl(223, 47%, 23%);
  --color-gray-*: initial;
  --color-gray-600: hsl(224, 23%, 55%);
}

body {
  background-color: var(--color-blue-100);
  background-image: url("../assets/images/pattern-background-mobile.svg");
  background-size: 100% 40%;
  background-position: top;
  background-repeat: no-repeat;
}

@media (width >= 1440px) {
  body {
    background-image: url("../assets/images/pattern-background-desktop.svg");
  }
}
